.header {
    max-width: 1300px;
    min-height: 80px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.container-img {
    display: flex;
    align-items: center;
}

.logo-page {
    height: 50px;
    margin-right: 10px;
}

.container-img:hover{
    /* position: relative; */
    transform: scale(1.010);
    /* top: 1px; */
    /* left: 1px; */

}

.name-page{
    font-family: var(--font-title);
    color: var(--font-color-light);
    font-size: 2.6em;
    letter-spacing: 1px;
}

/* 
.navbar{

} */

.nav-item{
    color: var(--font-color-light);
    font-size: 1.7em;
    margin-right: 10px;
    font-weight: 600;
    text-transform: capitalize;
}

.nav-item:hover{
    color: var(--font-color-hover);
    transition: all .3s;
    text-shadow: 1px 1px 1px var(--font-color-hover);
}