section.gorras, section.zapatos {
    margin: 30px auto;
}

.row {
    margin: 0 auto;
    display: flex;
}

.columna {
    width: 50%;
    padding: 20px;
}

.container-vista {
    display: inline-block;
    width: auto;
    padding: 20px;
}

.container-vista img{
    height:auto;
    width: auto;
    max-height:200px;
    max-width: 200px;
}

.content-info {
    width: 90%;
    color: var(--font-color-light);
    text-align: center;
}

.title-product {
    font-family: var(--font-title);
    font-size: 2em;
}

p.price {
    font-family: var(--font-intro);
    font-size: 1.4em;
    text-transform: capitalize;
}


p.price:hover{
    color: var(--font-orange-hover);
    transition: all .5s;
    background: var(--font-color-light);
}
