.main {
    margin: 0 auto;
    max-width: 90%;
}

.space-empty {
    background-image: var(--url-fondo-Jordan);
    background-position:top;
    background-repeat: no-repeat;
    backdrop-filter: blur(-10px);
    background-size: 100%;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 25vw;
}

.fondo-1{
    background-image: var(--url-fondo-1);
}

.fondo-2{
    background-image: var(--url-fondo-2);
}

.JustDoIt {
    object-fit: scale-down;
}
.JustDoIt:hover{
    background-color: var(--font-blue-hover2);
}

.container-justify-business {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    max-height: 200px;
}

.justify-business-blockText,
.justify-business-img {
    width: 50%;
    font-family: var(--font-title);
}

.justify-business-blockText {
    color: var(--color-light);

}

.justify-business-img {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img {
    height: 80%;
    width: 60%;
}

.img:hover{
    box-shadow: 2px 2px 5px 4px var(--font-blue-hover);
}

.box {
    padding: 10px;
    display: inline-block;
    color: white;
}

.box:hover{
    border-radius: 7px;
    background-color: var(--bg-dark);
}

.content-title {
    text-transform: capitalize;
    font-size: 1.5em;
    margin: 10px 0px;
}

.content-paragraph {
    text-align: justify;
    font-size: 1.3em;
}

/* Bloque de calidades */

.calidades{
    margin-top: 50px;
    color: white;
}

.calidades-title{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 3em;
}

.article-calidades {
    /* margin: 30px 0px; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 40px;
}

.box-container {
    display: inline-block;
    color: var(--color-light);
    text-align: right;
}

.box-container:first-child {
    width: 60%;
    text-align: center;
}

.box-container:last-child {
    width: 40%;
    text-align: left;
    padding: 20px;
}

.box-img {
    max-width: 70%;
    height: auto;
}

.box-img:hover {
    transform: scale(1.010);
}

.title-article {
    font-size: 3em;
    margin-bottom: 10px;
}


.content-article {
    font-size: 1.4em;
    line-height: 1.4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}